In [26]:
#imports
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

In [3]:
#read clinical trials
clinical_df = pd.read_csv('raw_data/clinicaltrial_data.csv')
clinical_df.head()

  Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0     b128          0                45.0                 0
1     f932          0                45.0                 0
2     g107          0                45.0                 0
3     a457          0                45.0                 0
4     c819          0                45.0                 0

In [4]:
#read mouse data
mouse_df = pd.read_csv('raw_data/mouse_drug_data.csv')
mouse_df.head()

  Mouse ID      Drug
0     f234  Stelasyn
1     x402  Stelasyn
2     a492  Stelasyn
3     w540  Stelasyn
4     v764  Stelasyn

In [5]:
#outer merge the two
merged_df = pd.merge(clinical_df, mouse_df, on='Mouse ID', how="outer")
merged_df.head()

  Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites       Drug
0     b128          0           45.000000                 0  Capomulin
1     b128          5           45.651331                 0  Capomulin
2     b128         10           43.270852                 0  Capomulin
3     b128         15           43.784893                 0  Capomulin
4     b128         20           42.731552                 0  Capomulin

## Tumor Response to Treatment

In [28]:
#set drug and timepoints to index and sum up the tumor volume
tumorindex = merged_df.groupby(['Drug', 'Timepoint'])
volume = tumorindex['Tumor Volume (mm3)'].mean()

tumor_response = pd.DataFrame({"Tumor Volume (mm3)": volume})

tumor_response.head()

                     Tumor Volume (mm3)
Drug      Timepoint
Capomulin 0                   45.000000
          5                   44.266086
          10                  43.084291
          15                  42.064317
          20                  40.716325

In [29]:
#calculate standard deviation
std = tumorindex['Tumor Volume (mm3)'].std()

tumor_std = pd.DataFrame({'Tumor Volume (mm3)': std})

tumor_std.head()

                     Tumor Volume (mm3)
Drug      Timepoint
Capomulin 0                    0.000000
          5                    2.242964
          10                   3.513422
          15                   4.108369
          20                   4.362915

In [35]:
#unstack the response data
tumor_unstack = tumor_response.unstack(level=0)

tumor_unstack.head()

          Tumor Volume (mm3)                                              \
Drug               Capomulin   Ceftamin  Infubinol   Ketapril   Naftisol
Timepoint
0                  45.000000  45.000000  45.000000  45.000000  45.000000
5                  44.266086  46.503051  47.062001  47.389175  46.796098
10                 43.084291  48.285125  49.403909  49.582269  48.694210
15                 42.064317  50.094055  51.296397  52.399974  50.933018
20                 40.716325  52.157049  53.197691  54.920935  53.644087


Drug         Placebo   Propriva   Ramicane   Stelasyn  Zoniferol
Timepoint
0          45.000000  45.000000  45.000000  45.000000  45.000000
5          47.125589  47.248967  43.944859  47.527452  46.851818
10         49.423329  49.101541  42.531957  49.463844  48.689881
15         51.359742  51.067318  41.495061  51.529409  50.779059
20         54.364417  53.346737  40.238325  54.067395  53.170334

In [ ]:
#charting

plt.errorbar()